<a href="/">Home</a>
<div class="add_test_form">
    <form action="/addtest" method="POST">
        <label for="tr">Enter Test Request #:</label>
        <input id="tr" name="tr" type="text">
        <label for="doc">Reference Document:</label>
        <input id="doc" name="doc" type="text">
        <label for="sec">Document Section:</label>
        <input id="sec" name="sec" type="text">
        <input type="submit" value="Submit">
    </form>
    <br>
    <h1>{{postStatus}}</h1>
</div>
<div>
    <ul>

    </ul>
</div>